<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>VF To Do List</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link th:href="@{/css/todo.css}"                                        rel="stylesheet" type="text/css"/>
    <link href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    
    <script src="http://code.jquery.com/jquery-3.1.1.min.js"        type="text/javascript"></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
    
<script language="javascript">

var newTaskDialog;
var currentTab = "ALL";

function bodyOnload() {
    // Initial state of buttons
/*** for now
    $("#completeTasks").attr("disabled",           true);
    $("#reactivateTasks").attr("disabled",         true);
    $("#deleteTasks").attr("disabled",             true);
    $("#deleteAllCompletedTasks").attr("disabled", true);
***/

    newTaskDialog = $("#newTaskDialog").dialog({
        autoOpen: false,
        height: 200,
        width:  500,
        modal: true,
        buttons: {
            "Create" : createNewTask,
            "Cancel" : function() {
                newTaskDialog.dialog("close");
            }
        },
        close: function() {
            //        form[0].reset();
            $("titleField").removeClass("ui-state-error");
        }
    });
    
    $("#newTask").button().on("click", function() {
        newTaskDialog.find("#titleField").val("");
        newTaskDialog.dialog("open");
    });

    $(document).ready(function() {
        $("#tabs").tabs();

        $("#tabs").on("tabsactivate", function(event, ui) {
            currentTab = ui.newTab[0].innerText;
            loadTodoTable();
        });

        loadTodoTable();
    });
}

function createNewTask() {

    var titleField = newTaskDialog.find("#titleField").val();

    if (titleField.length === 0) {
        // Tell user to provide a non-empty title
        console.log("no title provided");
    } else {
        // Add this new task as active.
        console.log("title is: " + titleField);
        newTask({title: titleField});
    }

    newTaskDialog.dialog("close");
}

function newTask(task) {
    $.ajax({
        url: "http://localhost:8080/task",
        type: 'PUT',
        contentType: 'application/json',
        data: JSON.stringify(task),
        dataType: 'json',
        processData: false,
        success: function(data) {
            loadTodoTable();
        },
        error: function() {
            console.log("Could not create task: " + task.title);
        },
    });
};

function setTaskStatus(taskIds, status) {
    $.each(tasks, function(index, taskId) {
        $.ajax({
            url: "http://localhost:8080/task/" + taskId + "/" + status,
            type: 'PUT',
            contentType: 'application/json',
            dataType: 'json',
            processData: false,
            success: function(data) {
                loadTodoTable();
            },
            error: function() {
                console.log("Could not modify task: " + taskId);
            },
        });
    });
};

function deleteTasks(taskIds) {
    $.each(tasks, function(index, taskId) {
        $.ajax({
            url: "http://localhost:8080/task/" + taskId,
            type: 'DELETE',
            contentType: 'application/json',
            dataType: 'json',
            processData: false,
            success: function(data) {
                loadTodoTable();
            },
            error: function() {
                console.log("Could not delete task: " + taskId);
            },
        });
    });
};

function deleteAllCompletedTasks() {
    $.ajax({
        url: "http://localhost:8080/completedTasks",
        type: 'DELETE',
        contentType: 'application/json',
        dataType: 'json',
        processData: false,
        success: function(data) {
            loadTodoTable();
        },
        error: function() {
            console.log("Could not delete completed tasks.");
        },
    });
};

function loadTodoTable() {
    $.ajax({
        url: "http://localhost:8080/task",
        type: 'GET',
        contentType: 'application/json',
        dataType: 'json',
        processData: false,
        success: function(data) {
            var todoTableBody = $("#" + currentTab + " #todoTable tbody");
            todoTableBody.empty();
            var activeCount = 0;
            
            $.each(data, function(index, value) {
                todoTableBody.append(
                    "<tr>" +
                        "<td></td>" +
                        "<td>" + value.title  + "</td>" +
                        "<td>" + value.status + "</td>" +
                        "</tr>"
                );
                if (value.status === "ACTIVE") activeCount++
            });

            $("#activeTaskCount").empty().append(activeCount + " active tasks");
        },
        error: function() {
            console.log("Could not fetch all tasks.");
        },
    });
};

</script>

  </head>

  <body onload="javascript: bodyOnload();">
    <h1>Current To Do List</h1>
    <h2 id="activeTaskCount"></h2>

    <div id="buttons">
      <button id="newTask"                      type="button" class="actionButton">New Task</button>
      <button id="completeTasks"                type="button" class="actionButton">Complete Task(s)</button>
      <button id="reactivateTasks"              type="button" class="actionButton">Re-activate Task(s)</button>
      <button id="deleteTasks"                  type="button" class="actionButton">Delete Task(s)</button>
      <button id="deleteAllCompletedTasks"      type="button" class="actionButton">Delete All Completed Tasks</button>
    </div>
    <br/>

    <div id="tabs">
      <ul>
        <li><a href="#ALL">ALL</a></li>
        <li><a href="#ACTIVE">ACTIVE</a></li>
        <li><a href="#COMPLETED">COMPLETED</a></li>
      </ul>
      <div id="ALL">
        <div id="todoList">
          <table id="todoTable">
            <thead>
              <td></td><td>Title</td><td>Status</td>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
      <div id="ACTIVE">
        <div id="todoList">
          <table id="todoTable">
            <thead>
              <td></td><td>Title</td><td>Status</td>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
      <div id="COMPLETED">
        <div id="todoList">
          <table id="todoTable">
            <thead>
              <td></td><td>Title</td><td>Status</td>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div id="newTaskDialog" title="Create new task">
      <form>
        <fieldset>
          <label for="titleField">Title</label>
          <input type="text"   name="titleField" id="titleField" value="" class="text ui-widget-content ui-corner-all"/>
          <input type="submit" tabindex="-1" style="position:absolute; top:-1000px"/>
        </fieldset>
      </form>
    </div>

  </body>

</html>
